node_modules
.env
dist

# all generated code needs to be rebuilt
src/generated
*.edgeql.ts

# no zero-install yarn config
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
